# Ignore build output
.moc
.obj
QtCreatorPython
PythonExtension
.qmake.stash
Makefile
*.log
PythonExtensions.json

# Ignore optional build directories
optional/build_*

# Ignore packaged examples
examples/*.zip
